
@font-face {
    font-family:"Routen";
    src:url("Routen Regular.woff2") format("woff2"),url("Routen Regular.woff") format("woff"),url("Routen Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        